.grid_container {
    width: 100%;
    display: grid;
    grid-template-columns: auto auto auto;
}
.h5 {
    margin: 0;
    padding: 0;
    text-align: center;
    margin-top: 16px;
}
/* On screens that are 992px or less, set the background color to blue */
@media screen and (max-width: 992px) {
  .grid_container {
        grid-template-columns: auto auto;
    }
}

/* On screens that are 600px or less, set the background color to olive */
@media screen and (max-width: 600px) {
  .grid_container {
        grid-template-columns: auto;
    }
}